<ul class="nav-main">
  <li><a href="index.html">Accueil</a></li>
  <li><a href="concept.html">Notre approche</a></li>
  <li><a href="academie.html">Académie</a></li>
  <li><a href="faq.html">FAQ</a></li>
  <li class="dropdown">
    <a href="#">Plus ▼</a>
    <ul class="dropdown-content">
      <li><a href="enjeux.html">Enjeux & Sources</a></li>
      <li><a href="methodologie.html">Méthodologie</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="mentions.html">Mentions légales</a></li>
    </ul>
  </li>
</ul>
